/*  === RESET === */
/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-size: 16px;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  /* margin-block-end: 0; */
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove spin buttons from numeric inputs */
/* Source: https://www.geeksforgeeks.org/how-to-disable-arrows-from-number-input/ */
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* === === */

/*  VARIABLES  */

:root {
  --main-background-color: #99a98e;
  --light-background-color: #deead8;
  --main-font-color: #162a0a;
  --dark-background-color: #103100;
  --dark-background-color: #1D330F;
  --deep-neutral-color: #ebdcc5;
  --light-accent-color: #fff7eb;
  --dark-accent-color: #475043;
  --bold-accent-color: #ffed7b;
}


/* GENERAL STYLES */

body {
  max-width: 100%;
}

main {
  flex-grow: 1;
  background-color: var(--main-background-color);
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

header {
  padding: 0.5rem;
}

.content-block {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.template-heading {
  margin: 1.5rem 1rem;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h2{
  text-align: center;
}

h3, h4 {
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

a, button {
  transition: all 0.2s ease-in;
}

.underline-link {
  text-decoration: underline;
  padding: 0.5rem;
  color: currentColor;
}

.underline-link:hover {
  color: var(--dark-accent-color);
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-container, img {
  border-radius: 0.125rem;
}

.divider {
  width: 100%;
  border: 1px solid var(--dark-accent-color);
  border-radius: 0.03125rem;
}

/* Box shadow */
.main-header, .main-heading-container, .form-block, .hike-block, .error-block .no-data-block, .splash-block, .user-card-block {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.distance-diamond-element, .img-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hike-block, .form-block, .error-block, .no-data-block, .splash-block, .user-card-block {
  background-color: var(--light-background-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.125rem;
}

.form-block {
  padding: 1.5rem 0.5rem;
}

.error-block a {
  align-self: center;
}

.error-block > p, .no-data-block > p {
  margin: 1rem 0;
}

/*  TYPE   */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*  HEADER  */

header {
  /* background-color: var(--dark-background-color); */
  background-color: var(--main-font-color);
  color: var(--deep-neutral-color);
  position: relative;
  padding: 3rem 0;
}

header .wrapper {
  justify-content: center;
}

.main-header-content {
  justify-content: center;
  align-items: center;
}

.main-heading-container {
  background-color: var(--bold-accent-color);
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  border-radius: 0.5rem;
  outline: 0.125rem solid rgb(49, 49, 49);
  outline-offset: -7px;
  margin-bottom: 2rem;
}

.hidden-heading {
  visibility: hidden;
  position: absolute;
}

.main-logo {
  text-align: center;
  font-size: 6rem;
  width: auto;
  transform: rotate(-45deg);
}

.main-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
}

.nav-item {
  width: auto;
  border-radius: 0.125rem;
}

.nav-item a {
  height: 100%;
  display: block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(0.9rem + .25vw);
  /* Override the general `transition all` so the calc fz doesn't transition on vw change */
  transition: background-color 0.2s ease-in;
  border: 1px solid transparent;
}

.nav-item a:active {
  background-color: var(--light-accent-color);
  color: var(--dark-accent-color);
}

.nav-item a:hover {
  background-color: var(--deep-neutral-color);
  color: var(--dark-accent-color);
}


/*  SPLASH HEADER */

.splash-header {
  height: calc(100vh - 4rem);
  padding-top: 2rem;
  /* background-color: var(--dark-background-color); */
  background-color: var(--main-font-color);
}

.splash-heading-content-block {
  height: auto;
  align-items: center;
}

h1 {
  font-size: 1.4rem;
}

.splash-logo-content-block {
  height: auto;
  margin: 6rem 0;
}

.splash-heading {
  font-size: 2.4rem;
}

.splash-nav {
  bottom: 2rem;
}


/*  USERS /  HIKES LIST  */

.trail-block-top {
  justify-content: space-between;
  align-items: center;
  background: #47504383 ;
  background: linear-gradient( to right, #47504344, #47504300);
  margin-left: -0.5rem;
  padding: 0.5rem 0;
  padding-left: 1rem;
  padding-right: 0.25rem;
}

.hike-date {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
}

.distance-block {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0.25rem, 0.75rem, 0.25rem, 0;
  margin: 0.35rem 0.75rem;
}

.distance-diamond-element {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 0.125rem;
  background-color: var(--dark-background-color);
  transform: rotate(45deg);
  outline: 0.0175rem solid var(--light-accent-color);
  outline-offset: -4px;
  z-index: 1;
}

.distance-text-container {
  position: relative;
  margin-top: 0.125rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.distance {
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--light-accent-color);
  letter-spacing: 0.75px;
  line-height: 1.1;
}

.trail-info-block {
  justify-content: space-between;
}

.hike-img-container {
  width: 100%;
  background-color: var(--dark-accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.75rem 0 0 0;
  color: var(--light-accent-color);
}

.hike-sub-info--details {
  padding: 0.25rem 0;
  margin-top: 0.125rem;
}

.hike-sub-info--trails {
  margin: 0.25rem 0 0 0;
}

.hike-sub-info--trails ul {
  margin-left: 1rem;
}

.list-icon {
  font-size: 1.4rem;
  line-height: 0px;
}

.hike-context-nav-container {
  justify-content: flex-end;
}

.hike-sub-info--footer {
  justify-content: space-between;
  margin: 0;
}



/*  FORM ELEMENTS  */

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-content {
  margin-bottom: 1.25rem;
}

input {
  accent-color: var(--dark-background-color);
  background-color: var(--light-accent-color);
  margin-top: 0.25rem;
}

.form-control {
  accent-color: var(--dark-background-color) !important;
  background-color: var(--light-accent-color) !important;
  border-radius: 0.125rem !important;
  border: 1px solid var(--main-background-color);  
}

.form-control:focus, .btn:focus, .nav-item a:focus {
  border: 1px solid var(--dark-accent-color);
  outline: 1px solid var(--dark-accent-color);
  box-shadow: none !important;
  background-color: var(--deep-neutral-color);
  color: var(--main-font-color);
  transition: outline 0.1s ease-in;
}

.btn {
  background-color: var(--dark-background-color);
  border: 1px solid transparent;
  color: var(--light-accent-color);
  outline: 0.0175rem solid var(--main-background-color);
  outline-offset: -4px;
  border-radius: 0.125rem;
  margin: 0.5rem auto 0.25rem auto;
  min-width: 12rem;
  transition: all 0.2s ease-in;
}

.update-hike-button-container, .maps-button-container {
  justify-content: flex-end;
  margin: 0;
}

.update-hike-button, .maps-button {
  background-color: var(--light-accent-color);
  color: var(--main-font-color);
  outline: 0.0175rem solid var(--dark-accent-color);
  margin: 0;
  padding: 0;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  min-width: 0;
}

.maps-button {
  padding: 0;
  font-size: 1rem;
  aspect-ratio: 2.5;
}

.maps-button i {
  margin-left: 0.5rem;
}

.update-hike-button {
  margin-left: 0.75rem;
}

.update-hike-button i {
  font-size: 1.25rem;
}

/* Edit icon looks a bit off centre as-is */
.edit-button {
  padding-left: 3px;
}

/* Button focus states  */

.btn:focus {
  outline: 0.1250rem solid var(--dark-accent-color);
  border: 1px solid var(--dark-accent-color) !important;
  background-color: var(--light-accent-color);
  outline-offset: -5px;
}

.del-button:focus {
  color: tomato;
  outline: 2px solid tomato;

}

/* Button hover states */

.btn:hover {
  background-color: var(--light-accent-color);
  border: 1px solid transparent;
  color: var(--main-font-color);
  outline: 0.0175rem solid var(--dark-background-color);
}

.maps-button:hover, .edit-button:hover {
  background-color: var(--dark-accent-color);
  color: var(--light-accent-color);
  outline: 0.0175rem solid var(--light-accent-color);
}

.del-button:hover {
  background-color: tomato;
  color: var(--light-accent-color);
  outline-color: var(--light-accent-color);
}

/* Button active states */

.btn:active {
  background-color: var(--main-background-color) !important;
  outline: 0.0175rem solid var(--light-accent-color) !important;
}

.del-button:active {
  /* not sure this is doing anything */
  border-color: var(--dark-accent-color) !important;
}


/*  USER SEARCH  */

.search-results-container {
margin-right: -1rem;
}

.search-results-list {
  flex-wrap: wrap;
}

.search-results-list li {
  flex-basis: auto;
  flex-grow: 1;
}

.user-card-block {
  margin-right: 1rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.user-card-button-link {
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--light-background-color);
  color: var(--main-font-color);
}

.user-card-content {
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.user-card-exact-match {
  position: absolute;
  top: 0;
  font-size: 0.8rem;
}

.user-card-username-container {
  align-items: center;
}

.user-card-icon {
  margin: 0 0.5rem;
  display: block;
}

.user-card-img-container {
  align-items: center;
  padding: 0.25rem;
  background-color: var(--dark-accent-color);
  height: 4rem;
  font-size: 2.5rem;
  aspect-ratio: 1;
}

.user-card-img-container img {
  height: 100%;
  /* width: 100%; */
  aspect-ratio: 1;
  object-fit: cover;
}

.user-img-placeholder-background {
  height: 100%;
  background-color: var(--dark-background-color);
  aspect-ratio: 1;
}

.user-card-img-placeholder {
  margin: 0 auto;
  color: var(--deep-neutral-color);
}


/*  FOOTER  */

.main-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--main-font-color);
  color: var(--deep-neutral-color);
  font-size: 0.8rem;
}

.main-footer a {
  padding: 0.5rem 0;
}

.main-footer a:hover {
  color: var(--light-accent-color);
  box-shadow: none;
}

.main-footer a:focus {
  outline: 1px solid var(--light-accent-color);
  border: none;
  box-shadow: none;
}