/*  === RESET === */
/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  /* margin-block-end: 0; */
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove spin buttons from numeric inputs */
/* Source: https://www.geeksforgeeks.org/how-to-disable-arrows-from-number-input/ */
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* === === */

/* GENERAL STYLES */

/* Prevent layout shift from scrollbar */
* {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  max-width: 100%;
}

main {
  flex-grow: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.content-container, header {
  padding: 2rem;
}

.content-block {
  margin: 1rem 0;
}

.template-heading {
  margin: 2rem 0;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

/*  TYPE   */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*  HEADER  */

header {
  height: 350px;
  background-color: green;
  color: blanchedalmond;
  position: relative;
}

header .wrapper {
  justify-content: center;
}

header h1 {
  text-align: center;
}

.main-nav {
  background-color: darkgreen;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding-left: 2rem;
}

.nav-item {
  width: auto;
  padding: 0.5rem 1rem;
}

.nav-item:hover {
  background-color: blanchedalmond;
  color: green;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
}


/*  INDEX  */

.hike-divider {
  margin: 0;
  width: 100%;
  color: green;
}

.trail-heading-block-divider {
  margin: 0 1rem;
}

.hike-date {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0.5rem;
}

.trail-info-block {
  justify-content: space-between;
}

.trail-info-block img {
  max-width: 300px;
  display: block;
  margin-right: 1rem;
}

.trail-sub-info {
  align-items: flex-start;
  /* margin-top: -2rem; */
  width: 200px;
}

.trail-sub-info .hike-divider {
  width: 80%;
  align-self: center;
}

.distance {
  font-weight: 700;
  font-size: 1.4rem;
  align-self: center;
}


/*  FOOTER  */

.main-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: darkgreen;
  color: blanchedalmond;
}