/*  === RESET === */
/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  /* margin-block-end: 0; */
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove spin buttons from numeric inputs */
/* Source: https://www.geeksforgeeks.org/how-to-disable-arrows-from-number-input/ */
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* === === */

/*  VARIABLES  */

:root {
  --main-background-color: #99a98e;
  --light-background-color: #deead8;
  --main-font-color: #162a0a;
  --dark-background-color: #103100;
  --dark-background-color: #1D330F;
  --deep-neutral-color: #ebdcc5;
  --light-accent-color: #fff7eb;
}

/* GENERAL STYLES */

body {
  max-width: 100%;
}

main {
  flex-grow: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.content-container, header {
  padding: 0.5rem;
}

.content-block {
  margin: 0.5rem 0;
}

.template-heading {
  margin: 1rem 0 1.75rem 0;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h3 {
  margin-bottom: 0.125rem;
}

ul, ol {
  margin: 0;
  padding-left: 1rem;
}

.img-container, img {
  border-radius: 0.125rem;
}

/*  TYPE   */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*  HEADER  */

header {
  height: 350px;
  background-color: var(--dark-background-color);
  color: var(--deep-neutral-color);
  position: relative;
}

header .wrapper {
  justify-content: center;
}

.main-header-content {
  justify-content: center;
  align-items: center;
}

.main-heading-container {
  background-color: rgb(255, 230, 71);
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  border-radius: 0.25rem;
  border: 0.25rem solid rgb(44, 44, 44);
}

header h1 {
  text-align: center;
  font-size: 7rem;
  width: auto;
  transform: rotate(-45deg);
}

.main-nav {
  background-color: var(--dark-background-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: auto;
  padding: 0.5rem 1rem;
}

.nav-item:hover {
  background-color: var(--deep-neutral-color);
  color: var(--dark-background-color);
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
}

.hike-block {
  background-color: var(--light-background-color);
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.125rem;
}


/*  INDEX  /  HIKES LIST  */

.trail-block-top {
  justify-content: space-between;
  align-items: center;
}

.hike-date {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.6;
}

.distance-block {
  height: 55px;
  width: 55px;
  text-align: right;
  border-radius: 0.125rem;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-right: 0.75rem;
}

.distance {
  font-weight: 700;
  font-size: 0.9rem;
  /* margin-bottom: 0.25rem; */
  color: var(--light-accent-color);
  transform: rotate(-45deg);
  margin-top: 0.0125 rem;
}

.trail-info-block {
  justify-content: space-between;
}

.img-container {
  width: 100%;
  background-color: #475043;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.trail-info-block img {
  height: 95%;
  max-height: 95vh;
  object-fit: contain;
}

.trail-sub-info {
  margin-top: 0.5rem;
}

.trail-sub-info .hike-divider {
  width: 80%;
  align-self: center;
}



/*  FORM ELEMENTS  */

input {
  max-width: 400px;
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  background-color: var(--light-accent-color);
}

/*  FOOTER  */

.main-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: var(--dark-background-color);
  color: var(--deep-neutral-color);
}