    <form method="post" class="update-hike-button-container flex-row">
      <div>
        <button type="submit" name="delete_hike" value="del_{{hike.get('id')}}" aria-label="Delete hike" class="btn btn-primary update-hike-button del-button">
          <i class="fas fa-trash"></i>
        </button>
      </div>
      <div>
        <button type="submit" name="edit_hike" value="edit_{{hike.get('id')}}" aria-label="Edit hike" class="btn btn-primary update-hike-button edit-button">
          <i class="fas fa-edit"></i>
        </button>
      </div>
    </form>