<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>Take a hike</title>
  <link rel="icon" type="image/x-icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥾</text></svg>">
</head>
<body class="flex-col" style="visibility: hidden;">
  <header class="splash-header flex-col">
    <div class="splash-heading-content-block flex-col">
      <h1 class="splash-heading">Take a hike</h1>
    </div>
    <div class="flex-col main-header-content splash-logo-content-block">
      <div class="main-heading-container flex-col">
        <h2 class="main-logo">🥾</h2>
      </div>
    </div>
    <div class="splash-nav-content-container">
      <nav class="splash-nav">
        <div class="wrapper">

          <ul class="nav-list flex-row">
            <div class="nav-item">
              <li><a href="/users">Users</a></li>
            </div>
            <div class="nav-item">
              <li><a href="/signup">Sign up</a></li>
            </div>
            <div class="nav-item">
              <li><a href="/login">Log in</a></li>
            </div>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <footer class="main-footer flex-col">
    <p>Created by <a href="http://brodieday.com" target="_blank">J Brodie Day</a> for CS50</p>
  </footer>
  <script src="/static/scripts/ready.js"></script>
</body>
</html>