<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>🥾</title>
</head>
<body class="flex-col">
  <header>
    <div class="flex-col main-header-content">
      <div class="main-heading-container flex-col">
        <h1>🥾</h1>
      </div>
      <nav class="main-nav">
        <div class="wrapper">

          <ul class="nav-list flex-row">
            <div class="nav-item">
              <li><a href="/">Home</a></li>
            </div>
            <div class="nav-item">
              <li><a href="/new-hike">Log a new hike</a></li>
            </div>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="wrapper">
      {% block main %}
      {% endblock %}
    </div>
  </main>
  <footer class="main-footer flex-col">
    <p>Created by J Brodie Day for CS50</p>
  </footer>
</body>
</html>