{% extends 'layout.html'%}

{% block main %}
<div class="content-container">
  <h2 class="template-heading">Log in</h2>
  <div class="form-block">
    <form action="/login" method="post" class="flex-col">
      <div class="form-content content-block flex-col">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
      </div>
      <div class="form-content content-block flex-col">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>
</div>

{% endblock %}