{% extends "layout.html" %}

{% block main %}
<div class="content-container">
  <h2 class="template-heading">Log a new hike</h2>
  <form method="post">
    {% for field in form_content %}
    <div class="form-content content-block">
      <label 
        for="{{form_content[field]['name']}}"
      >
        {{form_content[field]['label']}}
      </label>
      {% if form_content[field]['inputType'] == 'number' %}
        <input 
          type="{{form_content[field]['inputType']}}" 
          name="{{form_content[field]['name']}}" 
          id="{{form_content[field]['name']}}"
          min="0"
          step="any"
        >
      {% else %}
        <input 
          type="{{form_content[field]['inputType']}}" 
          name="{{form_content[field]['name']}}" 
          id="{{form_content[field]['name']}}"
        >
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}