{% extends 'layout.html' %}

{% block main %}
<div class="content-container">
  <h2 class="template-heading">Sign up</h2>
  <div class="form-block">
    <div class="content-block">
    <form action="/signup" method="post" class="user-input-form flex-col">
        <div class="form-content flex-col">
          <label for="username" class="form-label">Username</label>
          <input autofocus type="text" name="username" id="username" class="form-control" minlength="4" maxlength="14">
        </div>
        <div class="form-content flex-col">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control" minlength="4" maxlength="64">
        </div>
        <div class="form-content flex-col">
          <label for="confirmation" class="form-label">Confirm password</label>
          <input type="password" name="confirmation" id="confirmation" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}