{% extends 'layout.html' %}

{% block main %}
<div class="content-block">
  <h2>Sign up</h2>
  <div class="form-block">
    <form action="/signup" method="post">
      <label for="username">Username</label>
      <input type="text" name="username">
      <label for="password">Password</label>
      <input type="password" name="password">
      <label for="confirmation">Confirm password</label>
      <input type="password" name="confirmation">
      <button type="submit">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}