{% extends "layout.html" %}

{% block main %}
{% if context_string %}
  {% include 'context-msg.html' %}
{% endif %}
<div class="content-container">
  <div class="user-heading-container flex-row">
    {% if is_feed %}
    <h2 class="template-heading">Recent hikes</h2>
    {% else %}
    <h2 class="template-heading">{{username.upper()}}'s recent hikes</h2>
    {% endif %}
    {% if username != session.get('username') %}
    {% if not following %}
    <div class="btn follow-btn flex-col">
      <a href="/follow/{{username}}">Follow</a>
    </div>
    {%  else %}
    <div class="btn follow-btn unfollow-btn flex-col">
      <a href="/unfollow/{{username}}">Unfollow</a>
    </div>
      <!-- <a href="/unfollow/{{username}}">Unfollow</a> -->
      {% endif %}
    {% endif %}
  </div>
  {% if not hikes_list %}
  {% include '/no-data.html' %}
  {% endif %}
  {% for hike in hikes_list %}
  <div class="hike-block">
    {% if hike.get('username') %}
    <h5 class="feed-user-heading">
      <a href="{{request.baseurl}}/users/{{hike.get('username')}}">
        {{hike.get('username').upper()}}:
      </a>
    </h5>
    {% endif %}
    <div class="trail-block-top content-block flex-row">
      <div class="trail-heading-block flex-col">
        <p class="hike-date">{{hike.get('hike_date')}}</p>
        <h3>{{hike.get('area_name')}}</h3>
        <p>Trailhead: {{hike.get('trailhead')}}</p>
      </div>
      <div class="distance-block">
        <div class="distance-diamond-element">
        </div>
        <div class="distance-text-container flex-col">
          <p class="distance">{{hike.get('distance_km')}}</p>
          <p class="distance">km</p>
        </div>
      </div>
    </div>
    {% if not hike.get('image_url') %}
    <hr class="divider no-img-divider">
    {% else %}
    <div class="img-container hike-img-container">
      <img src="{{hike.get('image_url')}}" alt="{{hike.get('image_alt')}}" loading="lazy">
      <div class="hike-sub-info--details">
        <p>{{hike.get('other_info')}}</p>
      </div>
    </div>
    {% endif %}
    <div class="hike-sub-info--trails content-block">
      <h4>Trails:</h4>
      <ul>
        {% for trail in hike.get('trails_list') %}
        <li><i class="list-icon">- </i>{{trail}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="content-block hike-sub-info--footer flex-row">
      <div class="maps-button-container">
        <a href="{{hike.get('map_link')}}" class="btn btn-primary maps-button" target="blank" aria-label="View location in maps">
            Maps
            <i class="fas fa-external-link-square-alt"></i>
        </a>
      </div>
      {% if auth %}
        {% include 'hike-context-menu.html' %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}