{% extends "layout.html" %}

{% block main %}
<div class="content-container">
  <h2 class="template-heading">{{username}}'s recent hikes</h2>
  {% if not hikes_list %}
  {% include '/no-data.html' %}
  {% endif %}
  {% for hike in hikes_list %}
  <div class="hike-block">
    <div class="trail-block-top content-block flex-row">
      <div class="trail-heading-block flex-col">
          <p class="hike-date">{{hike['hike_date']}}</p>
            <h3>{{hike['area_name']}}</h3>
            <p>Trailhead: {{hike['trailhead']}}</p>
      </div>
      <div class="distance-block">
        <div class="distance-diamond-element">
        </div>
        <div class="distance-text-container flex-col">
          <p class="distance">{{hike['distance_km']}}</p>
          <p class="distance">km</p>
        </div>
      </div>
    </div>
    <div class="trail-info-block content-block flex-col">
      {% if not hike['image_url'] %}
      <hr class="no-img-divider">
      {% else %}
      <div class="img-container">
        <img src="{{hike['image_url']}}" alt="{{hike['image_alt']}}" loading="lazy">
      </div>
      {% endif %}
      <div class="hike-sub-info">
        <div class="hike-sub-info--trails">
          <h4>Trails:</h4>
          <ul>
            {% for trail in hike['trails_list'] %}
            <li><i class="list-icon">- </i>{{trail}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="more-info-block content-block flex-col">
          <div class="hike-sub-info--details">
            <p>{{hike['other_info']}}</p>
          </div>
          <div class="hike-sub-info--footer flex-row">
            <a href="#" target="blank">Maps</a>
            {% if auth %}
              {% include 'hike-context-menu.html' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}